:root {
  --red: #c5004a;
  --darkred: #7f0036;
  --lightgrey: #e0e0e0;
  --grey: #c0c0c0;
  --darkgray: #333;
  --navy: #17050f;
  --blue: #082840;
  --white: #fff;
  --black: #000000;
  --green: #266e26;
  --darkgreen: #45844b;
  --green2: #048a81;
  --yellow: #fbff00;

  --headerBackground: #048a81;
  --titleText: #000000;
  --pageBackground: #e0e0e0;
  --pageText: #333;
  --tagBox: #c0c0c0;
  --tagText: #000000;
  --tagTextVisited: #082840;
  --linkText: #082840;
  --linkTextVisited: #17050f;

  --maxTextWidth: 80em;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--pageText);
  background-color: var(--pageBackground);
}
p:last-child {
  margin-bottom: 0;
}

a[href] {
  color: var(--linkText);
}
a[href]:visited {
  color: var(--linkTextVisited);
}

main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}
header {
  border-bottom: 1px solid var(--lightgray);
  background-color: var(--headerBackground);
  display: flex;
  align-items: center;
}

code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.5;
}

img {
  max-width: 100%;
  max-height: 50vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Increase image height on short landscape views*/
@media (orientation: landscape) and (min-aspect-ratio: 16/9) and (max-width: 80em) {
  img {
    max-height: 70vh;
  }
}

figure {
  margin: 2% 5%;
}

figcaption {
  text-align: center;
}

li:not(.nav-item) {
  padding-bottom: 1em;
}

.content {
  padding: 0 5%;
  padding-bottom: 3%;
}

/* Cap content width on wide screens */
/* min-width =  maxTextWidth */
@media (min-width: 80em) {
  .content {
    width: var(--maxTextWidth);
  }
}

/* padding-bottom sets height, 1/aspect ratio scaled by width. Here: (9/16) * 100 */
.youtube-video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Cap embedded video size on wider screens */
/* padding-bottom = (9/16) * 40 = 22.5 */
@media (min-width: 40em) {
  .youtube-video-container {
    width: 40em;
    padding-bottom: 22.5em;
  }
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0;
  font-size: 1.5em;
  color: var(--titleText);
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
  align-content: center;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list on homepage */
.postlist {
  list-style: none;
  padding: 0;
}

.postlist-item {
  display: grid;
  margin-bottom: 5em;
  justify-items: left;
  gap: 10px;
  grid-template-columns: 30% 70%;
  grid-template-areas: 
    "picture title"
    "picture description"
    "tags tags";
}

/* Change layout on small screens*/
@media (max-width: 35em) {
  .postlist-item {
    grid-template-columns: 30% 70%;
    grid-template-areas: 
      "picture title"
      "description description"
      "tags tags";
  }
}
/* Cap size to 50em if screen is 50em or larger large screens */
/* Take content left/right padding into account (5% + 5%) */
@media (min-width: calc(50em * 1.1)) {
  .postlist-item {
    width: 50em; 
  }
} 

.postlist-item-image {
  grid-area: picture;
}

.postlist-item-header {
  grid-area: title;
  width: 100%;
}

.postlist-item-title {
  margin-top: 0px;
}

.postlist-item-subtitle{
  display: flex;
  padding-top: 0px;
  margin-top: 0px;
  justify-content: space-between;
}
.postlist-item-date {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: italic;
}
.postlist-item-author {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: normal;
}

.postlist-item-description {
  grid-area: description;
}

.postlist-item-taglist {
  display: flex;
  flex-wrap: wrap;
  grid-area: tags;
  justify-content: end;
  width: 100%
}

/* Tags */
.post-tag {
  display: inline-block;
  vertical-align: text-bottom;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--tagBox);
  color: var(--tagText);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].post-tag {
  color: var(--tagText);
}
a[href].post-tag:visited {
  color: var(--tagTextVisited);
}

.list-tag {
  display: inline-block;
  vertical-align: text-bottom;
  text-transform: uppercase;
  /* font-size: 0.625em; 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--tagBox);
  color: var(--tagText);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].list-tag {
  color: var(--tagText);
}
a[href].list-tag:visited {
  color: var(--tagTextVisited);
}

/* Used for side-by-side images */
.row {
  display: flex;
  align-items: center;
}
/* Only display side-by-side if screen width is at least half maximum content width */
@media (max-width: 40em) {
  .row {
    display: block;
  }
}

.column {
  flex: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
