{# Generates a formatted list of entries for each post in list_of_posts #}

{% for post in list_of_posts | reverse %}
  <div class="postlist-item">
    <div class="postlist-item-title">
      <h2>
        <a href="{{ post.url | url}}">{{ post.data.title }}</a>
      </h2>
    </div>
    <div class="post-subtitle">
      <h4 class="post-author"> {{ post.data.author }} </h4>
      <h5 class="post-date">
          {{post.date | readableDate}}
      </h5>
    </div>
    <div>
      {{ post.data.description }}
    </div>

    <div class="post-taglist">
     
    {% for tag in post.data.tags | removePostsTag %}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {% endfor %}
    </div>
  </div>
{% endfor %}
