---
title: all post tags
description: Collection of all category tags associated with posts on areed.me
date: 2021-01-30
layout: layouts/base.njk
permalink: /tags/
eleventyNavigation:
  key: tags
  order: 2
---

<h2>
All post tags:
</h2>
{% for tag in collections.allTags %}
  <div class=post-taglist>
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <a href="{{ tagUrl | url }}" class=list-tag> {{ tag }}</a>
  </div>
{% endfor %}
